.genreFilter {
  padding: 8px 16px; /* Round padding to an even number */
  /* Invert background and text color */
  border: none;
  background-color: white;
  border-radius: 4px;
}

.genreFilter select {
  padding: 8px; /* Round padding to an even number */
  border: none;
  border-radius: 4px;
  background-color: white; /* Invert background color */
  color: black; /* Invert text color */
  font-size: 16px; /* Increase text size */
}

.genreFilter select:focus {
  outline: none;
  background-color: white; /* Invert background color on focus */
  color: black; /* Ensure text color remains inverted on focus */
}
