.genreFilter {
  padding: 8px 16px;
  border: none;
  background-color: white;
  border-radius: 4px;
}

.genreFilter select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.genreFilter select:focus {
  outline: none;
  background-color: white;
  color: black;
}
