.homePage {
  padding: 16px;
  background: #000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageSlider {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin-top: 20px;
}

.imageSlider img {
  width: 100%;
  display: block;
}

.aboutSection {
  color: white;
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .aboutSection {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .aboutSection {
    font-size: 1em;
  }
}

