.moviesPage {
  padding: 16px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.moviesPage h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.movieCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-left: 50px;
}

.movie-card {
  transition: none;
}

.movie-card-enter {
  opacity: 0;
  transform: scale(0.9);
}

.movie-card-enter-active {
  opacity: 1;
  transform: scale(1);
}

.movie-card-exit {
  opacity: 1;
  transform: scale(1);
}

.movie-card-exit-active {
  opacity: 0;
  transform: scale(0.9);
}

.filtersContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.clearButton {
  padding: 8px 16px;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.clearButton:hover {
  background-color: #e9e9e9;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 8px 16px;
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton:disabled {
  visibility: hidden;
}

.pagination img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.pagination span {
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
}

.errorMessage {
  color: #fff;
  font-size: 18px;
  left: -15px;
  position: relative;
  text-align: center;
  margin-top: 20px;
}
