.search-bar {
    position: relative;
    display: inline-block;
    width: 300px;
    height: auto;
    background-color: black;
    color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    z-index: 1000;
    margin-bottom: 20px;
    font-size: 16px;
}

.search-bar input {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.search-bar input:focus {
    outline: none;
    background-color: black;
    color: white;
    font-size: 16px;
}
