.App {
  text-align: center;
}

nav {
  margin-bottom: 20px;
  width: 100vw; /* Full width */
  margin: 0; /* Remove default margin */
  padding: 10px 0; /* Add padding for spacing */
  background-color: #f8f9fa; /* Optional: background color */
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}